@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: red;
  color: #333;
  font-family: "Nunito";
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
}

